.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: block;
    padding: 2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 8rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    font-family: $default-color;
    font-weight: bold;
    padding: 0 0.7rem 0 0;
  }

  &-title {
    color: $title-blue;
    display: block;
    font-family: $serif-primary;
    font-size: 1.7em;
    font-weight: 300;
    margin: .5rem 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: 2px solid $default-shade;
    display: block;
    width: 1.6rem;
  }
}
