[class^="br-bottom-"], [class*=" br-bottom-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 96%;
}


hr.br-bottom-page {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #555;
  color: #555;
  text-align: center;
  width: 56%;
  height: 1.5rem;
  background-image: none;
  &:after {
    content: "\e903";
    display: inline-block;
    position: relative;
    top: -0.6em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
  }
}



