@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?erlvit');
  src: url('../fonts/icomoon.eot?erlvit#iefix') format("embedded-opentype"), url('../fonts/icomoon.ttf?erlvit') format("truetype"), url('../fonts/icomoon.woff?erlvit') format("woff"), url('../fonts/icomoon.svg?erlvit#icomoon') format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  top: 2px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-K-artistic:before {
  content: "\e900";
}

.icon-K-thick:before {
  content: "\e901";
}

.icon-K-medium:before {
  content: "\e902";
}

.icon-K-thin:before {
  content: "\e903";
}