{{ define "main" }}

<main>
	<div class="post">
		<h1 class="post-title">{{ .Title }}</h1>
		<div class="post-line"></div>

		{{ .Content }}

		<br>
		<hr class="br-bottom-page">
		<div class="post-info">
			<span>{{ i18n "writtenBy" }}</span>
			{{- if .Params.Author }}
				{{ .Params.Author }}
			{{- else }}
				{{ .Site.Params.Author }}
			{{- end }}

			{{- if .PublishDate }}
				<br>
				<span>{{ i18n "on" }}&nbsp;</span><time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
			{{- end }}
		</div>
	</div>

</main>

{{ end }}