		<nav class="nav">
			<div class="nav-container">
				<a href="{{ "/" | relURL }}">
					<h2 class="nav-title">
					<span class="icon-K-medium"></span>
					{{ .Site.Title }}</h2>
				</a>
				{{ partial "header-menu.html" . }}
			</div>
		</nav>

{{ if .Params.toc }}
<div class="toc">
  {{ with (i18n "on_this_page") }}
  <p class="toc-title">{{.}}</p>
  {{ end }}

  {{ .TableOfContents }}

  <ul class="toc-top">
    <li><a href="#">&#10098; {{ i18n "back_to_top" | default "Back to top" }} &#10099;</a></li>
  </ul>
</div>
{{ end }}
